body {
    background-image: url("Images/WebBG.png");
	background-color: #010101;
	background-position: center;
	background-size: auto;
	font-size: 32px;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}

a {
    text-decoration: none;
    color: #FF7700;
    display: block;
}